#footer
  %p
    = link_to "Four Bean Soup", "http://fourbeansoup.com/", :rel => "home"
    &ndash; All Content Copyright &copy; 2008 - #{Time.now.year} Four Bean Soup, Inc"
  %p All Trademarks and Copyrights remain the property of their respective owners.