- @partial_title = "Homepage"
- @page_description = @site.description
- @page_keywords = "rails, bootstrap"

#page_header
  %h2
    Homepage

#page_body
  - if user_signed_in?
    %p
      Cool, you are already signed in. Good work!
    %p
      OK, you can start building
      %strong
        your app
      now....
  - else
    %p
      Seems you need to get started. Go ahead and
      = link_to "sign in", new_user_session_path
      or
      = link_to "sign up", new_user_registration_path
      for a new account.
  
  = render :partial => "shared/content_samples" if user_signed_in?

#page_sidebar
  .wrap
    %p
      Welcome!